/* Import Google Fonts - Montserrat  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* styles.css */
body {
  background-color: rebeccapurple;
  font-family: Montserrat;
}

#content-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(290px, 1fr)
  ); /* Adjusts to available width */
  gap: 0.5em;
  padding: 5em 2em;
}
